# Release imzalama bilgileri.
# Bu dosyayi "keystore.properties" adiyla kopyalayip kendi degerlerinle doldur.
# keystore.properties .gitignore'da - asla commit edilmez.
#
# storeFile: .jks dosyasinin TAM yolu. Depo disinda tut.
#   Windows'ta ters bolu isareti ya cift yazilir ya da duz boluye cevrilir:
#   C:/Users/KULLANICI/panthop-release.jks
storeFile=C:/Users/only-/panthop-release.jks
storePassword=BURAYA_KEYSTORE_SIFRESI
keyAlias=panthop
keyPassword=BURAYA_KEY_SIFRESI
